#company-modal-launch{
    /* float: right; */
    margin-bottom: 2px;
    margin-top: -10px;
    margin-left: 69rem;
}

#doi{
    width: 20rem;
    height: 2rem;
}

#select_student{
    width: 20rem;
    height: 2rem;
}

.delete-company-button{
    margin-right: 0px;
}